{%- set newline = '\n' %}
{% for sensor in sensors %}
Entity {{ sensor['name'] }}
    type: {{ sensor['type'] }}
    topic: {{ sensor['topic'] }}
    pubFreq: {{ sensor['pubFreq'] }}
    attributes:
    {% for attr in sensor['attributes'] %}
        - {{ attr[0] }}: {{ attr[1] }}{% if attr[2] is not none %} = {{ attr[2] }}{% endif %}{{ '\n' }}
    {%- endfor %}
end
{% endfor %}

{% for actor in actors %}
Entity {{ actor['name'] }}
    type: {{ actor['type'] }}
    topic: {{ actor['topic'] }}
    pubFreq: {{ actor['pubFreq'] }}
    attributes:
    {% for attr in sensor['attributes'] %}
        - {{ attr[0] }}: {{ attr[1] }}{% if attr[2] is not none %} = {{ attr[2] }}{% endif %}{{ '\n' }}
    {%- endfor %}
end
{% endfor %}

{% for actuator in actuators %}
Entity {{ actuator['name'] }}
    type: {{ actuator['type'] }}
    topic: {{ actuator['topic'] }}
    pubFreq: {{ actuator['pubFreq'] }}
    attributes:
    {% for attr in sensor['attributes'] %}
        - {{ attr[0] }}: {{ attr[1] }}{% if attr[2] is not none %} = {{ attr[2] }}{% endif %}{{ '\n' }}
    {%- endfor %}
end
{% endfor %}