Communication {{ thing.name }}Comms
    endpoints
        {# Case 1: composite with sensors #}
        {% if thing.sensors is defined %}
            {% for sensor in thing.sensors %}
                {% set subclass = sensor.ref.__class__.__name__|lower %}
                {% set typ = sensor.ref.type|lower if sensor.ref.type else "" %}
        publisher
            topic: 'sensor.{{ subclass }}{{ "." ~ typ if typ else "" }}'
            msg: {{ sensor.ref.name }}Message
        end
            {% endfor %}
        {% endif %}
        {# Case 2: atomic thing (sensor) #}
        {% if (not thing.sensors or thing.sensors|length == 0) and thing.class == "Sensor" %}
            {% set subclass = thing.__class__.__name__|lower %}
            {% set typ = thing.type|lower if thing.type else "" %}
        publisher
            topic: 'sensor.{{ subclass }}{{ "." ~ thing.name|lower }}'
            msg: {{ thing.name }}Message
        end
        {% endif %}
    end

    messages
        {% if thing.sensors is defined %}
            {% for sensor in thing.sensors %}
        TopicMsg {{ sensor.ref.name }}Message
            pubFreq: float
            type: str
            sensor_id: str
            {% if dtype %}
                {% for p in dtype.properties %}
            {{ p.name }}: {{ p.type }}
                {% endfor %}
            {% endif %}
        end
            {% endfor %}
        {% endif %}
        {% if (not thing.sensors or thing.sensors|length == 0) and thing.class == "Sensor" %}
        TopicMsg {{ thing.name }}Message
            pubFreq: float
            type: str
            sensor_id: str
            {% if dtype %}
                {% for p in dtype.properties %}
            {{ p.name }}: {{ p.type }}
                {% endfor %}
            {% endif %}
        end
        {% endif %}
    end
end
