{% set comm_name = thing.subtype if thing.subtype is defined else thing.type %}
Communication {{ comm_name }}Comms
    endpoints
        {% if thing.sensors is defined and thing.sensors|length > 0 %}
            {# ---- Case: Composite or Multi-Sensor Thing ---- #}
            {% for sensor in thing.sensors %}
                {% set type = sensor.ref.type|lower if sensor.ref.type is defined else sensor.ref.__class__.__name__|lower %}
                {% set subtype_orig = (
                    sensor.ref.subtype.name
                    if sensor.ref.subtype is defined and sensor.ref.subtype.name is defined
                    else (sensor.ref.subtype if sensor.ref.subtype is defined else sensor.ref.type)
                ) %}
        publisher
            topic: 'sensor.{{ type }}.{{ subtype_orig|lower }}'
            msg: {{ subtype_orig }}Message
        end
            {% endfor %}
        {% elif thing.composites is defined and thing.composites|length > 0 %}
            {# ---- Case: Composite Thing containing sub-sensors ---- #}
            {% for comp in thing.composites %}
                {% if comp.ref.sensors is defined and comp.ref.sensors|length > 0 %}
                    {% for sensor in comp.ref.sensors %}
                        {% set type = sensor.ref.type|lower if sensor.ref.type is defined else sensor.ref.__class__.__name__|lower %}
                        {% set subtype_orig = (
                            sensor.ref.subtype.name
                            if sensor.ref.subtype is defined and sensor.ref.subtype.name is defined
                            else (sensor.ref.subtype if sensor.ref.subtype is defined else sensor.ref.type)
                        ) %}
        publisher
            topic: 'sensor.{{ type }}.{{ subtype_orig|lower }}'
            msg: {{ subtype_orig }}Message
        end
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% elif thing.class == "Sensor" %}
            {# ---- Case: Simple single Sensor ---- #}
            {% set type = thing.type|lower if thing.type is defined else "sensor" %}
            {% set subtype_orig = thing.subtype if thing.subtype is defined else "" %}
        publisher
            topic: 'sensor.{{ type }}{{ "." ~ subtype_orig|lower if subtype_orig else "" }}'
            msg: {{ subtype_orig if subtype_orig else thing.type }}Message
        end
        {% endif %}
    end

    messages
        {% if thing.sensors is defined and thing.sensors|length > 0 %}
            {% for sensor in thing.sensors %}
                {% set subtype_orig = (
                    sensor.ref.subtype.name
                    if sensor.ref.subtype is defined and sensor.ref.subtype.name is defined
                    else (sensor.ref.subtype if sensor.ref.subtype is defined else sensor.ref.type)
                ) %}
        TopicMsg {{ subtype_orig }}Message
            pubFreq: float
            type: str
            sensor_id: str
        end
            {% endfor %}
        {% elif thing.composites is defined and thing.composites|length > 0 %}
            {% for comp in thing.composites %}
                {% if comp.ref.sensors is defined and comp.ref.sensors|length > 0 %}
                    {% for sensor in comp.ref.sensors %}
                        {% set subtype_orig = (
                            sensor.ref.subtype.name
                            if sensor.ref.subtype is defined and sensor.ref.subtype.name is defined
                            else (sensor.ref.subtype if sensor.ref.subtype is defined else sensor.ref.type)
                        ) %}
        TopicMsg {{ subtype_orig }}Message
            pubFreq: float
            type: str
            sensor_id: str
        end
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% elif thing.class == "Sensor" %}
            {% set subtype_orig = thing.subtype if thing.subtype is defined else "" %}
            {% set type = thing.type|lower if thing.type is defined else "sensor" %}
        TopicMsg {{ subtype_orig if subtype_orig else thing.type }}Message
            pubFreq: float
            type: str
            sensor_id: str
        end
        {% endif %}
    end
end